body {
  overflow: visible; 
}

.detailsContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw;
    padding-bottom: 20px;
    margin-left: 300px;
    
}

.price {
  text-align: left;
  font-size: x-large;
}


.favButton {
        background-color: transparent;
        border: none; 
        padding: 10px 20px;
        color: white;
        cursor: pointer; 
        transition: background-color 0.3s ease; 
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-right: 380px;
    margin-left: 50px;
    height: 90vh;
    align-items: flex-start;
    color: #2D4056;
    
    
}

.imgContainer {
  margin-top: 30px;
  width: 110%;
  height: 1200px; /* O un valor específico en píxeles */
  overflow: hidden;
}

.imgContainer img {
  width: 600px;
  height: 800px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.imgContainer img:hover {
  transform: scale(1.1);
}

.cartButton button {
  padding: 10px 20px;
  background-color: #2D4056; 
  color: #fff; 
  border: 2px solid #2D4056;  
  cursor: pointer;
  margin-left: 100px;
  margin-top: 40px;
  border-radius: 5px;
  
}

.cartButton button:hover {
  background-color: rgb(44, 182, 88); 
  border-color: rgb(44, 182, 88); 
  transform: scale(1.05);
}


.description{
    text-align: left;
  
}

.characteristics {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 0;
   
    
  }

  .characteristics ul {
    list-style-type: none; 
    padding: 0; 
   
  }
  
  .characteristics li {
    margin-bottom: 8px; 
    text-align: left; 
  }

  .subInfoContainer1 h2 {
    margin-bottom: 5px; 
    margin-top: 0; 
    color: #2D4056;
}

.politicas{
  margin-bottom: 100px
  
  
}

.politicas p {
  color: #2D4056;
  margin-left: 850px;
}

.zoom img {
  transition: transform 0.5s ease;
}

.quantityLabel {
    margin-left: 10px;
    border: 2px solid #000; 
    
}

.cartButton button:disabled {
  background-color: #bdc3c7; 
  color: #7f8c8d; 
  border-color: #bdc3c7; 
  cursor: not-allowed; 
  transform: none; 
}

