@import url("https://fonts.cdnfonts.com/css/montserrat");

body {
  overflow: visible;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  text-align: left;
  width: 90vw;

  padding-bottom: 20px;
  text-align: left;
  margin-left: 300px;
  font-family: "Montserrat", sans-serif;
}

.price {
  text-align: left;
  font-size: x-large;
}

.favButton {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  margin-right: 380px;
  margin-left: 50px;
  height: 90vh;
  align-items: flex-start;
  color: black;
  width: 50%;
}

.imgContainer {

  position: relative;
  margin-top: 120px;
  width: 80%;

  height: 700px; 
  overflow: hidden;
  border-radius: 20px;
  z-index: 0;
}

.imgContainer img {
  width: 600px;
  height: 600px;
  transition: transform 0.3s ease;
  cursor: zoom-in;
  border-radius: 20px;
}

.imgContainer img:hover {
  transform: scale(1.0);
}

.cartButton button {
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  background-color: #2d4056;
  color: #fff;
  border: 2px solid #2d4056;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 60px;
  border-radius: 5px;
  font-size: medium;
}

.cartButton button:hover {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(44, 182, 88);
  border-color: rgb(44, 182, 88);
  transform: scale(1.05);
}

.description {
  text-align: left;
}

.stock {
  margin-top: 34px;
  margin-bottom: 20px;
}

.color {
  margin-left: 0px

}
.size {
  margin-bottom: 20px;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
 }

.characteristics li {
  margin-bottom: 8px;
  text-align: left;
}

.subInfoContainer1 h2 {
  margin-bottom: 5px;
  margin-top: 0;
  color: black;
}

.politicas {
  margin-top: 40px
}

.politicas p {
  color: black;
  margin-left: 500px;
  align-items: center;
  width: 900px;
  font-size: small;
  font-family: "Montserrat", sans-serif;
}

.zoom img {
  transition: transform 0.5s ease;
}

.quantityLabel {
  margin-left: 10px;
  border: 2px solid #000;
  margin-top: 20px;
}

.cartButton button:disabled {
  font-family: "Montserrat", sans-serif;
  background-color: #bdc3c7; 
  color: #7f8c8d; 
  border-color: #bdc3c7; 
  cursor: not-allowed; 
  transform: none; 
}

.heartButton {
  position: absolute;
  margin-left:-120px;
  margin-top: -490px;
  z-index: 1;
}