@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #E2DCE1;
  border-radius: 10px;
  margin-top: 140px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: 2px;
}

.container > div:first-child {
  
    margin-bottom: 60px;
    font-weight: 800;
}

.container > div:last-child {
  display: flex;
  justify-content: space-between;
  
}

.container > div:last-child > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  font-weight: 500;
  margin: 20px;
  margin-left: 50px;
}
