.container {
    display: flex;
    justify-content: space-around;
  }
  
  .childCard {
    text-align: center;
    min-width: 200px;
/*     margin-top: -30px;
 */  }
  
  .childList {
    text-align: center;
    min-width: 200px;
  }
  