@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
  color:black;
  width: 90%;
  max-width: 570px;
  margin-top: 70px;
  margin-bottom: 70px;
  height: auto;
  margin-left: 150px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
}

.label-input-group {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-bottom: -5px;
}

.label-input-group label {
  color: #e2dcd1;
  margin-top: -10px;
  margin-right: 10px;
  font-size: small;
}

.input-container {
  color: #e2dcd1;
  flex-grow: 1;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}

h2 {
  color: #e2dcd1;
}

h4 {
  color: #e2dcd1;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
}
