@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
  color: black;
  width: 570px;
  height: 500px;
  margin: auto;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.text {
  color: black;
  margin-bottom: 150px;
  margin-top: 10px;
}

.textt {
  margin-top: 70px;
}

button {
  margin-top: 10px;
}

/* Consulta de medios para pantallas grandes (1441px a 1920px) */
@media screen and (min-width: 1440px) {
  .container {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;

  }

}

@media screen and (min-width: 1920px) {
  .container {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10%;

  }
}