/* .container {
  display: flex;
  justify-content: space-around;
}

.childCard {
  text-align: center;
  min-width: 350px;
  width: auto;
}

.childList {
  text-align: center;
  min-width: 350px;
  width: auto;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px
}

.childCard,
.childList {
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: -350px;
}

@media (min-width: 768px) {
  .container {
    justify-content: space-around;
  }
  .childCard,
  .childList {
    width: auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .childCard,
  .childList {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1900px;
  }
  .childCard,
  .childList {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
