.container {
  display: flex;
  justify-content: space-around;
}

.childCard {
  text-align: center;
  min-width: 500px;
  width: auto;
}

.childList {
  text-align: center;
  min-width: 500px;
  width: auto;
}
