@import url("https://fonts.cdnfonts.com/css/montserrat");


.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    font-family: "Montserrat", sans-serif;
}

.aside {
    position: sticky;
    top: 0;
    height: 100vh;
    
}

.titulo {
    font-weight: 400;
    font-size: 1.5rem;
}

.filtro {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 160px;
    left: 500%;

}

.main {
    padding: 1px;
    margin-top: 2%;
    left: 65px;
}

.contenedorproductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.priceSection {
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

h4 {
    margin-right: 10px;
}

.select {
    margin-left: 0; 
}

.derecha{
    margin-left: 300px;
}

.filter {
    color: black;
    font-size: large;
    font-weight: 200;
}
