
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;  
}

.aside {
    position: sticky;
    top: 0;
    height: 100vh;
}

.titulo {
    font-weight: 400;
    font-size: 1.5rem;
}

.filtro {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 160px;
    left: 500%;
    color: black;
}

.main {
    padding: 1px;
    margin-top: 2%;
    left: 65px;
}

.contenedorproductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.priceSection {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Alinea verticalmente los elementos hijos */
    margin-bottom: 10px;
}

h4 {
    margin-right: 10px; /* Ajusta el espacio entre el h4 y el select según sea necesario */
}

.select {
    /* Ajusta según sea necesario, también puedes probar sin la propiedad margin-left */
    margin-left: 0; 
}