@import url("https://fonts.cdnfonts.com/css/montserrat");


.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    font-family: "Montserrat", sans-serif;
    margin-top: 50px;
}



.titulo {
    font-weight: 400;
    font-size: 2rem;
    margin-left: -250px;
}

.filtro {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 130px;
    margin-left: -250px;

}

.main {
    padding: 1px;
    margin-top: 2%;
    left: 65px;
}

.contenedorproductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.priceSection {
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}


.priceSection p {
    font-family: 'Montserrat', sans-serif;
}

.filter {
    color: black;
    font-size: large;
    font-weight: 200;
}

.selectStyle {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: border-color 0.3s;
  }
  
  .selectStyle:hover {
    border-color: #e8903b;
    box-shadow: 0 0 5px rgba(232, 144, 59, 0.5);
  }
  
  .selectStyle:focus {
    outline: none;
    border-color: #ccc;
  }
  
  .optionStyle {
    font-family: 'Montserrat', sans-serif;
  }
  
 