.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  padding: 10px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid rgb(32, 67, 95);
}

.navbar {
  background-color: rgb(32, 67, 95);
  border-radius: 10px;
  padding: 6px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
}