@import url("https://fonts.cdnfonts.com/css/montserrat");

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e2dcd1;
  padding: 10px;
  z-index: 1;
  width: 100%;
  margin-top: -30px;
  margin-left: -10px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;

}

.logo {
  width: 200px;
  height: 170px;
}

.navbar {
  border-radius: 20px;
  padding: 6px;

}

.menuitems{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px
}
.menuitems a {
  text-decoration: none;
  color: #30445c; 
  transition: color 0.3s ease; 
  margin-top: -60px;
}

.menuitems a:hover {
  color: #0066cc; /* Cambia el color al pasar el ratón sobre el enlace */
}

.menuitems .active a {
  color: #0066cc; /* Cambia el color del enlace activo */
}





