@import url("https://fonts.cdnfonts.com/css/montserrat");

.headerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e2dcd1;
  padding: 10px;
  z-index: 1;
  width: 100%;
  margin-top: -30px;
  margin-left: -10px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;

}

.logo {
  width: 200px;
  height: 170px;
}

.navbar {
  border-radius: 20px;
  padding: 6px;
}


.menuitems {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
}


.buttonregister {
  background-color: #30445c ;
  border-radius: 20px;
  color: #e2dcd1;
  margin-top: -5px;
  text-align: center;
}


