.container {
  display: flex;
  justify-content: space-around;
}

.childCard {
  text-align: center;
  min-width: 200px;
  max-width: 50%;
}

.childList {
  text-align: center;
  min-width: 450px;
  max-width: 50%;
}
