@import url('https://fonts.cdnfonts.com/css/montserrat');

.flexContainer {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-around;
  }
  
  .container {
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  
  .profileInfo {
    width: 400px;
    height: 330px;
    margin-top: 150px;
    margin-bottom: 5px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
  }
  
  .textt {
    font-weight: 400;
    font-size: xx-large;
  }