.container {
  display: flex;
  justify-content: space-between;
}

.container > div {
  width: 50%;
}

.container > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container > div:first-child > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.container > div:last-child img {
  width: 85%;
  margin-top: 10px;
  margin-left: 60px;
  height: auto;
}