@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  margin-top: 190px;
  font-size: large;
  text-align: center;
}

.container > div {
  width: 50%;
}

.container > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > div:first-child > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.container > div:last-child img {
  width: 85%;
  margin-top: 10px;
  margin-left: 60px;
  height: auto;
  border-radius: 20px;
}

.button {
  width: 150px;
  margin-top: 5px;
  background-color: #2D4056;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3c536d;
  }
}