@import url("https://fonts.cdnfonts.com/css/montserrat");

.container{
    color: black;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 180px;
}