.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
}

.logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgb(32, 67, 95);
}

.policies {
  border: 3px solid white;
  border-radius: 10px;
  height: 180px;
  width: 250px;
  align-items: center;
  display: grid ;
  justify-content: space-around;
}

.socialMedia {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 250px;
}
