@import url("https://fonts.cdnfonts.com/css/montserrat");

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2D4056;
  padding: 10px;
  width: auto;
  min-height: 220px;
  margin-top: 170px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  color: #e2dcd1;
}

.logo {
  width: 250px;
  height: 250px;
  margin-left: 50px;
}

.policiess {
  height: 180px;
  width: 280px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.policiess a {
  color: #e2dcd1;
  text-decoration: none;
}

.policies {
  height: 180px;
  width: 280px;
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.policis {
  font-size: smaller;
  margin-top: 5px;
  text-align: center;
  margin-left: -180px;
}

.socialMedia {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  width: 250px;
}

.logoIg {
  width: 40px;
  height: 40px;
  margin-right: -50px;
}

.logoFb {
  width: 40px;
  height: 40px;
  margin-right: 120px;
  border-radius: 10px;
}

.contact {
  margin-left: -180px;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }

  .policiess,
  .policies,
  .socialMedia {
    margin-top: 10px;
  }

  .policiess,
  .policies,
  .socialMedia {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .logo {
    width: 200px;
    height: 200px;
    margin-left: 30px;
  }

  .policiess,
  .policies {
    margin-top: 30px;
  }

  .policiess a {
    margin-bottom: 20px;
  }

  .policis {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 0;
  }

  .logoIg,
  .logoFb {
    width: 30px;
    height: 30px;
    margin: 5px 0;
  }

  .contact {
    margin-left: 0;
  }
}