.selectStyle {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: border-color 0.3s;
}

.selectStyle:hover {
  border-color: #e8903b;
  box-shadow: 0 0 5px rgba(232, 144, 59, 0.5);
}

.selectStyle:focus {
  outline: none;
  border-color: #ccc;
}

.optionStyle {
  font-family: 'Montserrat', sans-serif;
}

.filter {
  color: black;
  font-size: large;
  font-weight: 200;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  width: 160px;
}