.paginate {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .paginate button {
    border: 1px solid #2d4056;
    background-color: #ffffff;
    color: #2d4056;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  .paginate button:hover {
    background-color: #2d4056; 
    color: #f3efef;
  }

  .paginate button.active {
    background-color: #2d4056; 
    color: #f3efef;
  }