.contenedorproductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
  
  .centeredResultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
  }
  
  .centeredResult {
    margin-left: 500px; /* Ajusta según sea necesario */
    margin-bottom: 200px;
  }