@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
    font-family: "Montserrat", sans-serif;
}

.text {
    color: #30445c; 
}

.li{
    list-style: none;
    text-decoration: none; 
}

a {
    color: #30445c;
    text-decoration: none; 
}

a:visited {
    color: #30445c;
}

/* Agrega este estilo si quieres cambiar el color cuando el enlace está activo (clicado) */
a:active {
    color: #00ff00;
}