@import url("https://fonts.cdnfonts.com/css/montserrat");

.container {
  font-family: "Montserrat", sans-serif;
}

.text {
  color: #30445c;
}

.li {
  list-style: none;
}

a {
  color: #30445c;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

a:visited {
  color: #30445c;
}

a.active {
  text-decoration: underline;
}
