@import url("https://fonts.cdnfonts.com/css/montserrat");
.container {
  color: #e2dcd1;
  width: 570px;
  height: 500px;
  margin-top: -500px;
  margin-bottom: 80px;
  background-color: #2d4056;
  margin-left: 850px;
  margin-right: -10px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.label-input-group {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-bottom: -5px;
}

.label-input-group label {
  margin-top: -10px;
  margin-right: 10px;
}

.input-container {
  flex-grow: 1;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 5px;
}

h2 {
  margin-bottom: 120px;
  color: #e2dcd1;
}

h4 {
  color: #e2dcd1;
  margin-bottom: 10px;

}

h4 + a {
  margin-top: auto;
  margin-bottom: 15px;
}

button {
  margin-top: 20px;
}
