@import url("https://fonts.cdnfonts.com/css/montserrat");
.container {
  color: black;
  width: 570px;
  height: 500px;
  margin-top: 150px;
  margin-bottom: 5px;
  background-color: white;
  margin-left: 150px;
  margin-right: -10px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-bottom: 120px;
  color: black;
  font-size: xx-large;
  font-weight: 400;
}

h4 {
  color: black;
  margin-bottom: 150px;
  margin-top: -100px;
  font-weight: 400;

}

h4 + a {
  margin-top: auto;
}

button {
  margin-top: 20px;
}

.hr {
  border: 1px solid #000; /* Establecer color y grosor de la línea */
      margin: -100px 0 50px; /* Ajustar el margen según sea necesario */
    }

