@import url("https://fonts.cdnfonts.com/css/montserrat");

.photoBannerContainer {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.photoBannerContainer img {
  width: 20%;
}
